/*
*/
/* Zoomable Tree Map (ztm) css */

.ztm text {
    pointer-events: none;
}

.ztm .grandparent text {
    font-weight: bold;
}

.ztm .grandparent rect {
    stroke-width: 2px;
    fill: #356ca7;
}


.ztm rect.child {
    fill: none;
    stroke: #ffffff;
}

.ztm rect.parent:hover {
    fill: #558cc7;    
}

.ztm rect.parent {
    fill: #659cd7;    
    stroke-width: 1px;
    stroke: white;
}

.ztm .grandparent text {
    fill: white;
}

.ztm .grandparent:hover rect {
    fill: white;
    stroke: #356ca7;
    stroke-width: 2px;
}

.ztm .grandparent:hover text {
    fill: #356ca7;
}

.ztm .children rect.parent,
.ztm .grandparent rect {
    cursor: pointer;
}

.ztm .children rect.parent {
    fill: #bbb;
    fill-opacity: .5;
}

.ztm .children:hover rect.child {
    fill: #b0b0b0;
}

.ztm .children rect.child:hover {
    fill: #558cc7;
}
