#chart {
    width: 960px;
    height: 500px;
    background: #ddd;
}

text {
    pointer-events: none;
}

.grandparent text {
    font-weight: bold;
}

rect.child {
    fill: none;
    stroke: #ffffff;
}

rect.parent,
.grandparent rect {
    stroke-width: 2px;
    fill: #356ca7;
}

.grandparent text {
    fill: white;
}

.grandparent:hover rect {
    fill: white;
    stroke: #356ca7;
    stroke-width: 2px;
}

.grandparent:hover text {
    fill: #356ca7;
}

.children rect.parent,
.grandparent rect {
    cursor: pointer;
}

.children rect.parent {
    fill: #bbb;
    fill-opacity: .5;
}

.children:hover rect.child {
    fill: #bbb;
}

