#chart {
  
width: 960px;
  
height: 500px;
  
background: #ddd;

}


text {
  
pointer-events: none;

}



.grandparent text {
  
font-weight: bold;

}



rect.child {
  
fill: none;
  
stroke: "black";

}



rect.parent,
.grandparent rect {

  stroke-width: 2px;
  fill:none;
}


.grandparent rect {
  
fill: orange;

}


.grandparent:hover rect {
  
fill: #ee9700;

}


.children rect.parent,
.grandparent rect {
  
cursor: pointer;

}


.children rect.parent {

  fill: #bbb;
  
fill-opacity: .5;

}


.children:hover rect.child {
  fill: #bbb;
}

