/*
*/
.node {
	cursor: pointer;
}
.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
}
.node text {
	font: 11px sans-serif;
}
.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}

model_create_diagram {
	overflow: hidden;
}
